<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ title|title }}</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>

<div id="main">
    <div class="post_title"><h2>{{ title|title }}</h2></div>
    <div class="gallery">
        {% for image in images %}
            <a href="{{path}}{{image}}" target="_blank"><img src="{{path}}{{image}}" width="70" height="70" style="margin-right: 20px"/></a>
        {% endfor %}
    </div>
</div>

</body>
</html>